@import "tailwindcss";

.cards {
  width: 200px;
  background-color: #1d1d1d;
  height: 200px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
